<div id="no_arguments">
  <%= render_pattern("card") %>
</div>

<div id="one_argument">
  <%= render_pattern("card", title: "Title") %>
</div>

<div id="two_arguments">
  <%= render_pattern("card",
        description: "description",
        title: "Title") %>
</div>

<div id="pattern_with_partial_in_same_directory">
  <%= render_pattern("pattern_with_partial_in_same_directory") %>
</div>
