<!DOCTYPE html>
<html>
<head>
  <title>PrefabPatterns</title>
  <%= stylesheet_link_tag    "prefab_patterns/application", media: "all" %>
  <%= javascript_include_tag "prefab_patterns/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
